body{
    background-color: #f3e5d8;
    /* margin-bottom:10px; */
    /* margin-bottom: 50px; */
}

.box{
    background-color: #ffff;
    height: 1400px;
    max-width: 548px;
    /* position: absolute; */
    margin: 50px auto;
    /* inset: 0; */
    /* margin-top: 40px; */
    border-radius: 12px;
    padding: 10px;
   
}

img{
    max-width: 93%;
    border-radius: 8px;
    margin: 17px 0px 0px 18px;
}
h1{
    margin-left: 14px;
    font-family:cursive;
    color: #31302e;
}
.details{
    margin-left: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5c5b56;
}

.prepration-time{
    background-color: #f3e4ed;
    min-height: 90px;
    max-width: 502px;
    border-radius: 7px;
    margin: 24px 20px;
    align-content: space-between;
    padding-left: 10px;
    color: #38362d;

}
.prepration-time h2{
    /* margin-left: 10px; */
    color: #743750;
}

.prepration-time p{
    margin-bottom: -10px;
}

.box-ing{
    margin-bottom: px;
    font-family: 'Times New Roman', Times, serif;
    /* padding-left: 10px; */
    margin: 24px 20px;
    color: #413d2c;

}

.box-ing h2{
    color: #7b4636;
}

.instructure h2{
    color: #7b4636;
    font-family: Arial, Helvetica, sans-serif;
}

.instructure{
    margin: 24px 20px;
    color: #201f1b;
    
}

.instructure li{
    margin-bottom: 10px;
    font-family: sans-serif;
}

.instructure li::marker{
    color: #89381f;
}

#pp{
    color:#89381f;
    /* font-size: 17px; */
    font-weight: bold;
}

.fact-row{
    display: flex;
    justify-content: space-between;
    padding: 9px;
    border-bottom: 1px rgba(98, 88, 88, 0.578) solid;
    padding-right: 145px;
}
.fact-row:last-child{
    border-bottom: none;
}