body {
  margin: 0;
  
}

.hero-section {
  /* min-height: 100vh; */
  background-color: #f99501;
  background-image: url(img/orange-backdrop\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section p {
  font-family: "Salsa", cursive;
  font-size: 42px;
  color: #1e1e1e;
}

.paragraph-audio {
  margin: -40px 0px 0px 235px;
}
audio::-webkit-media-controls-panel {
  background-color: #fbd8a4 !important;
}
.jhalar {
  max-width: 209px;
  margin-bottom: -100px;
}

.audio-box {
  background-color: #fbd8a4;
  max-width: max-content;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  margin-left: 13rem;
  gap: 10px;
}

.horizontal-devider{
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.horizontal-line{
  width: 468px;
  height: 4px;
  background-color: #FBD8A4;
}

.circle{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  background-color: #FBD8A4;
  flex-shrink: 0;
}

.ganpati-baba{
  background-color: #f99501;
  padding-inline: 1rem;
}
.ganpati-baba img{
  display: block;
  margin-inline: auto;
  max-width: 1100px;
  width: 100%;
  
}
.ganpati-baba p{
  font-size: 70px;
  font-weight: 400;
   font-family: "Style Script", cursive;
   text-align: center;
   /* margin-top: 10px; */
}


@media (max-width: 840px){
    .paragraph-audio{
        margin-left: 1rem;
    }
    .first-deepak{
        margin-left: auto;
        display: block;
        width: 100%;
        max-width: 230px;
    }
    .jhalar{
        margin-bottom: 0;
    }
    .second-deepak,
    .audio-box span,
    .audio-box img:nth-child(3){
        display: none;
    }
    .audio-box{
        margin: 1rem;
        max-width: 18rem;
        gap: 0px;
        padding-right: 10px;
    }
    .hero-section{
        line-height: 1;
    }
    .ganpati-baba p{
      font-size: 24px;
    }
}

@media (max-width:400px){
  .paragraph-audio p{
    font-size: 32px;
  }

}